/* CSS Document */

/*ctrl+f5 se o servidor n estiver atualizando a estilização que estiver*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/images/background-outside.JPG');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body, form, div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-container {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(236, 236, 236, 0.911);
}

.section-content {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.568);
    background-image: linear-gradient(rgb(132, 0, 255), rgb(172, 0, 255), rgb(212, 0, 255));
}

h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.section-content, form {
    flex-direction: column;
}

form {
    justify-content: flex-start;
}

h1, h2, form, form input {
    color: white;
    width: 100%;
}

form i {
    margin-top: 30px;
}

form input {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 16pt;
}

form hr {
    width: 100%;
    border: 1px solid white;
}

form input::placeholder {
    color: white;
}

form input:hover {

}

form input:focus {
    outline-style: none;
}

.section-buttons {
    margin-top: 30px;
}

.section-buttons button {
    transition: all 0.2s;
}

.section-buttons button:hover {
    -webkit-transform: scale(1.05);
}

.section-buttons button:focus {
    outline-style: none;
}