/* CSS Document */

/*ctrl+f5 se o servidor n estiver atualizando a estilização que estiver*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/images/background-outside.JPG');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body, form, div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-container {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(236, 236, 236, 0.911);
}

.section-content {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.568);
    background-image: linear-gradient(rgb(132, 0, 255), rgb(172, 0, 255), rgb(212, 0, 255));
}

h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    font-size: 38pt;
}

.section-content, form {
    flex-direction: column;
}

form {
    justify-content: flex-start;
}

h1, form, form input {
    color: white;
    width: 100%;
}

.data-container {
    border-bottom: 2px solid white;
    margin-top: 25px;
}

.check-container {
    display: flex;
    justify-content: flex-start;
}

form i {
    margin-bottom: 5px;
}

form input {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 16pt;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}

form input::placeholder {
    color: white;
}

form input:hover {

}

form input:focus {
    outline-style: none;
}

.section-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 30px 0px;
}

.section-buttons button {
    transition: all 0.2s;
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
    font-weight: 500;
    color: rgb(68, 68, 68);
    border-radius: 40px;
    font-size: 13pt;
}

.section-buttons button:hover {
    -webkit-transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.397);
}

.section-buttons button:focus {
    outline-style: none;
}

.section-buttons a {
    color: white;
    text-decoration: none;
    margin-top: 60px;
    transition: all 0.2s;
}

.section-buttons a:hover {
    -webkit-transform: scale(1.05);
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.197);
}